*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html, body {

    height: 100%;
    width: 100%;    
}
nav{
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    
}

.nav-part2{
    display: flex;
    gap: 2vw;
}

.nav-part2 h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
}
nav:hover #nav-bottom{
    height: 100%;
    bottom: -100%;

}

#nav-bottom{
    /* background-color: #FF2B00; */
    height: 0%;
    position: absolute;
    width: 79%;
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 15vw;
    padding-left: 18vw;
}
.bottom-div{
    background-color:red;

}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 6vw;

}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #FF2B00;
    border-radius: 50%;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-top: 10px;   
}

#page1-something h4:nth-child(5){
    border: none;
    padding: 5px;
    
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    
}